@font-face {
  font-family: arcade;
  src: url(fonts/ARCADECLASSIC.TTF);
}

* {
  padding: 0;
  margin: 0;

  font-size: x-large;
  font-family: arcade;
}

body {
  height: 100%;
  width: 100%;
  background-color: #2b0719;
  color: #f7f7f9;
}

img {
  image-rendering: pixelated;
}

#game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

#ui-container {
  width: 80%;
  margin: auto;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 12px;
  justify-content: flex-end;
  align-items: center;
}

#ui-instructions {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 12px;
}

#ui-all-score {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
